<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.daydayup.codingweb.repository.dao.mapper.coding.UserInfoMapper">
    <resultMap id="BaseResultMap" type="ltd.daydayup.codingweb.repository.dao.entity.UserInfoDO">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="UserName" property="userName" jdbcType="VARCHAR"/>
        <result column="CreateTime" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,UserName,CreateTime
    </sql>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dbo.UserInfo
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM dbo.UserInfo
        WHERE id=#{id}
    </select>
</mapper>



